In [ ]:
a = 100

In [15]:
## declaring and assigning variables
## variables are case sensitive
## dynamic typing
## python allows the type of a variable to change as the program executes
var = 10 ##int
print(var, type(var))

var = 'hello'
print(var, type(var))

var = 9.0
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
9.0 <class 'float'>

In [25]:
## input in python, allows the user to give the value like scanner and bufferedreader and other classes in java
age = input("what is your age?")
date = int(input("what is the date?"))
print(age, type(age), date, type(date))
## the value if the input is always a string

23 <class 'str'> 23 <class 'int'>

In [11]:
##type conversion
age = 25
age_str = str(age)
print(type(age))
print(age_str, type(age_str))
agee = '25'
print(type(agee))
##we can only convert numbers as string to numbers unlike the string "anv", this wont be convert to any number
name = "123"
ans = int(name)
print(ans)

<class 'int'>
25 <class 'str'>
<class 'str'>
123

In [34]:
## a simple calculator in python
##sum1 = int(input('enter the first number'))
##sum2 = int(input('enter the second number'))
sum1 = int(input('enter the first number'))
sum2 = float(input('enter the second number'))

sum = sum1 + sum2
diff = sum1 - sum2
multi = sum1 * sum2
div = sum1 / sum2
print("sum", sum)
print("diff", diff)
print("multi",mult)
print("div",div, type(div))

sum 46.1
diff -0.10000000000000142
multi 531.3000000000001
div 0.9956709956709956 <class 'float'>

In [2]:
## boolean datatype
a = 10
b = 10
print(type(a==b))

<class 'bool'>

In [3]:
var = "hello" + "5.11"
print(var)

hello5.11

In [3]:
enter = input("enter something")
if int(enter) > 0:
    print("hello")

ValueError: invalid literal for int() with base 10: 'hi'

In [10]:
## range() gives the sequence of numbers 
range(7)
## we use range in the for loop to iterate through a sequence of number, but the last number is never included
for i in range(2,4):
    print(i)
## range(x,y,z) is basically like for(int i = x; i<y; z++)
for i in range(6,4,-1):
    print(i)

2
3
6
5

In [13]:
for i in range(10):
    break

In [17]:
for i in range(2,12):
    if i%2==0:
        continue
    print(i)

3
5
7
9
11

In [20]:
## nested 
for i in range(5):
    for j in range(7):
        print(f"i {i}, j {j}")

i 0, j 0
i 0, j 1
i 0, j 2
i 0, j 3
i 0, j 4
i 0, j 5
i 0, j 6
i 1, j 0
i 1, j 1
i 1, j 2
i 1, j 3
i 1, j 4
i 1, j 5
i 1, j 6
i 2, j 0
i 2, j 1
i 2, j 2
i 2, j 3
i 2, j 4
i 2, j 5
i 2, j 6
i 3, j 0
i 3, j 1
i 3, j 2
i 3, j 3
i 3, j 4
i 3, j 5
i 3, j 6
i 4, j 0
i 4, j 1
i 4, j 2
i 4, j 3
i 4, j 4
i 4, j 5
i 4, j 6

In [32]:
## calculate the sum of first n natural numbers
n = int(input("enter the value of n"))
sum = 0
for i  in range(1,n): ## as natural numbers start from n
    sum += i
print(sum)

ValueError: invalid literal for int() with base 10: ''

In [43]:
## display prime numbers from m to n
for i in range(4,12):
    is_prime = True
    if i < 2:
        continue
    for j in range(2,i):
        if i%j == 0:
            is_prime = False
            break
    if(is_prime):
        print(i)

5
7
11

In [35]:
## lists []
'''lst = [2,"abcd",1,2,3," "]
lst.clear()'''
lst = []
print(lst[0:1])
### accessing list items, '-' means iterating from the last
fruits = ["apple","banana","orange","kiwi","grapes"]
## printing the list from the end
for i in range(len(fruits)-1,-1,-1):
    print(fruits[i])
print(fruits[-2])
print(" ")
## simple way to iterate over the list
for i in fruits:
    print(i)

fruits[0:5] ## similar to 0:
print(lst)

[]
grapes
kiwi
orange
banana
apple
kiwi

apple
banana
orange
kiwi
grapes
[]

In [32]:
## list methods
print(lst[1:5])
fruits.append("dragon fruit") ## appends the item towards the end of the list
print(fruits)
print(fruits[::2])
print(fruits[1:8:3])

[]
['apple', 'banana', 'orange', 'kiwi', 'grapes', 'dragon fruit', 'dragon fruit', 'dragon fruit', 'dragon fruit', 'dragon fruit']
['apple', 'orange', 'grapes', 'dragon fruit', 'dragon fruit']
['banana', 'grapes', 'dragon fruit']

In [36]:
## iterating over the list
## enumerate gives the index number as well
for index, number in enumerate(fruits):
    print(index, number)

0 apple
1 banana
2 orange
3 kiwi
4 grapes

In [1]:
## list comprehension
[i**2 for i in range(10) if i>5]

## to the power of three of every number
square = [i**3 for i in range(9)]
print(square)
even_nums = [i**2 for i in range(20) if i%2==0]
print(even_nums)

[0, 1, 8, 27, 64, 125, 216, 343, 512]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [11]:
## declaring a set using the set() function
my_set = set([1,2,3,4,5,5])
## declaring the set using {}
my_other_set = {1,2,3,4,5,5}
first = my_set.pop()
sec = my_other_set.pop()
print(my_set, first)
print(my_other_set, sec)

{2, 3, 4, 5} 1
{2, 3, 4, 5} 1

In [13]:
## some mathematical set operations are .union() .intersection() .intersection_update() .difference()
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set2.difference(set1))

{8, 9, 7}

In [16]:
## set methods
setone = {1,2,3}
settwo = {4,5,6}
print(set1.issubset(set2))

False

In [22]:
words = "hello , my name is is anvesh"
words_split = words.split()
print(words_split)
unique_words = set(words_split)
print(unique_words)

['hello', ',', 'my', 'name', 'is', 'is', 'anvesh']
{'is', 'anvesh', 'hello', 'my', ',', 'name'}

In [29]:
## dictionary
students = {"name":"abc", "age":20, "grade": "A"}
print(students["age"])
print(students.get("age"))
print(students.get("salary","none")) ## if the first value is not present then the second value is given as output, the second value is the default value

20
20
none

In [36]:
students["address"] = "India" ## the key and value are added to the end of the dict
print(students)
del students["address"] ## deleting the specified key and value pair
print(students)

{'name': 'abc', 'age': 20, 'grade': 'A', 'address': 'India'}
{'name': 'abc', 'age': 20, 'grade': 'A'}

In [41]:
values = students.values()
print(type(values))
for i in values:
    if i == 20:
        break
print(i)

<class 'dict_values'>
20

In [50]:
## nested dict
address = {
    "bhopal":{"street" : {"house" : 20}}
}
print(address["bhopal"]["street"]["house"]) ## all the keys are used to access the nested values
for key,val in address.items():
    print(f"{key}:{val}") ## the values have more key value pairs and so iterate over them
    for a,b in val.items():
        print(f"{a}:{b}")
        for i,j in b.items():
            print(f"{i}:{j}")

20
bhopal:{'street': {'house': 20}}
street:{'house': 20}
house:20

In [52]:
## conditional dictionary comprehension
di = {x:x**2 for x in range(5) if x%2==0}
print(di)

{0: 0, 2: 4, 4: 16}

In [54]:
## to get the frequency of numbers
lst = [1,2,3,4,5,6,3,2,2,1]
store = {}
for i in lst:
    if i in store:
        store[i] += 1
    else:
        store[i] = 1
print(store)

{1: 2, 2: 3, 3: 2, 4: 1, 5: 1, 6: 1}

In [2]:
## merge 2 dict into 1
d1 = {"a":1, "b":2}
d2 = {"c":3, "d":4}
## we need to add the keys and vals to d1
for key,val in d2.items():
    d1[key] = d2[key]
print(d1)
## instead of using the above we can simply use
merged_dict = {**d1,**d2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [9]:
## TUPLE
tpl = tuple([1,2,3,4,5, "hi"])
print(tpl)
## accessing elements in a tuple
print(tpl[0])
print(tpl[-2])
print(tpl[::1])
print(tpl[::-1])

(1, 2, 3, 4, 5, 'hi')
1
5
(1, 2, 3, 4, 5, 'hi')
('hi', 5, 4, 3, 2, 1)

In [13]:
## tuple operations
nums = (2,3,5)
concat_tuple = tpl + nums
print(concat_tuple)
tpl * 3

(1, 2, 3, 4, 5, 'hi', 2, 3, 5)

(1, 2, 3, 4, 5, 'hi', 1, 2, 3, 4, 5, 'hi', 1, 2, 3, 4, 5, 'hi')

In [18]:
## packing tuples
packed_tuple = 1,"hi","cow",2
print(packed_tuple)
## unpacking tuples
a,b,c,d = packed_tuple
print(a)
print(b)
print(c)
print(d)
for val in packed_tuple:
    print(val)

(1, 'hi', 'cow', 2)
1
hi
cow
2
1
hi
cow
2

In [3]:
## nested tuple and nested list
lst = [[1,2,3,4], [3,"hi"], [55,6],[[2,23],[1,2,3]]]
print(lst[0])
print(lst[0][3])
print(lst[3][1][::-1])
var = 1
var2 = 2
print(type(print(var,var2)))

[1, 2, 3, 4]
4
[3, 2, 1]
1 2
<class 'NoneType'>